body{
	background-color: lightgray;
}
table{
	width: 100%;
	border: 1px solid gray;
	border-collapse: collapse;
	caption-side: top;
}
td, th{
	border: 1px solid gray; 
}
table tr:nth-child(odd){
	background-color: white;
}
table tr:nth-child(even){
	background-color: lightgreen;
}
table tr th{ 
	background-color: black;
	color: white;
}
table tr:hover{
	background-color: green;
	color: white;
}
